<header>
    <nav class="navbar navbar-dark navbar-fixed-top navbar-full bg-inverse">
        <a [routerLink]="['/']" class="navbar-brand">Stories</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item" *ngIf="!isUserLoggedIn">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn">
                <a class="nav-link" [routerLink]="['/my-timelines']">My Timelines</a>
            </li>
            <li class="nav-item" *ngIf="isUserLoggedIn">
                <a class="nav-link clickable"  (click)="logOut()">Log Out</a>
            </li>
        </ul>
    </nav>
</header>