.clickable {
  cursor: pointer;
}

.max-image {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.page-container {
  margin-top: 70px;
  margin-bottom: 70px;
  min-height: calc(100vh - 180px);
}

.user-image {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px;
  img {
    height: 30px;
  }
}